<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lloyd Stevens | Contact Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish&display=swap" rel="stylesheet">
</head>
<body>

<header>
        <img id="logo" src="prompt.png">
        <nav class="navbar">
            <a class="button" href="\">Me</a>
            <a class="button" href="#projects">My Work</a>
            <a class="button" href="\contactme">Let's Talk</a>
        </nav>
    </header>
    <div id="hero">
        <!-- PAGE HEADING AND INTRO TITLE -->
        <h1>Contact Me</h1>
        <p>If you would like to reach out then drop me a line</p>
        <!-- CALL TO ACTION BUTTONS -->
        <div>
            <a id="my-work-button" class="button" href="\#projects">My Projects</a>
            <a id="contact-button" class="button" href="\#skills">My Skills</a>
        </div>
    </div>

<!-- Form for email -->
    <div id="contact" class="form-container">
        <form action="/contactme" method="POST">
        <label class="form-label" for="name">Name:</label>
        <input class="form-input" type="text" id="name" name="name" required>

        <label class="form-label" for="email">Email:</label>
        <input class="form-input" type="email" id="email" name="email" required>

        <label class="form-label" for="inquiry-type">Type of Inquiry:</label>
        <select class="form-select" id="inquiry-type" name="inquiry-type">
            <option value="tutoring">Private Tutoring</option>
            <option value="coding">Coding Work</option>
            <option value="other">Other</option>
        </select>

        <label class="form-label" for="message">Message:</label>
        <textarea class="form-textarea" id="message" name="message" required></textarea>

        <button class="button form-button" type="submit">Send</button>
        </form>
</div>
<div class="social-image-container">
                        <div id="linkedin-branding">
                            <a href="https://www.linkedin.com/in/lloydstevens/"><img class="linkedin-logo tablet-hide desktop-hide " src="LI-In-Bug.png"></a>
                            <a href="https://www.linkedin.com/in/lloydstevens/"><img class="linkedin-name mobile-hide" src="LI-Logo.png"></a>
                        </div>
                        <div id="github-branding">
                            <a href="https://github.com/llogostevo"><img class="github-logo tablet-hide desktop-hide" src="github-mark.png"></a>
                            <a href="https://github.com/llogostevo"><img class="github-name mobile-hide" src="GitHub_Logo.png"></a>
                        </div>
                        <div id="youtube-branding"> 
                            <a href="https://www.youtube.com/@VidTings"><img class="youtube-logo tablet-hide desktop-hide" src="yt_icon_rgb.png"></a>
                            <a href="https://www.youtube.com/@VidTings"><img class="youtube-name mobile-hide " src="yt_logo_rgb_light.png"></a>
                        </div>        
</div>
<div id="footer">
    <h2>Acknowledgements</h2>
        <ul>
            <li>
                <a href="https://www.flaticon.com/free-icons/cmd" title="cmd icons">Cmd icons created by Freepik -
                    Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by lakonicon - Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a>
            </li>
            <li>
                <a href="https://brand.linkedin.com/downloads">LinkedIn Logos</a>
            </li>
            <li>
                <a href="https://github.com/logos">GitHub Logos</a>
            </li>
            <li>
                <a href="https://www.youtube.com/howyoutubeworks/resources/brand-resources/#logos-icons-and-colors">YouTube Logos</a>
            </li>

            
        </ul>
    </div>
</body>
</html>