<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lloyd Stevens | Portfolio Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <img id="logo" src="prompt.png">

        <nav class="navbar">
            <a class="button" href="\">Me</a>
            <a class="button" href="#projects">My Work</a>
            <a class="button" href="\contactme">Let's Talk</a>
        </nav>

    </header>
    <div id="hero">
        <!-- TEMP PLACEHOLDER HERE FOR IMAGE -->
        <img class="img-profile" src="lloyd.png">

        <!-- PAGE HEADING AND INTRO TITLE WITH EMOJIS-->
        <h1 id="site-header">Hi &#x1F44B;, I'm Lloyd &#x1F603;!<span class="mobile-hide tablet-hide"> &mdash; </span><span class="reduce-heading">I am a Web Developer &#x1F4BB; and Computer Science Tutor &#x1F9D1;&#x200D;&#x1F3EB;</span></h1>

        <!-- CALL TO ACTION BUTTONS -->
        <div>
            <a id="my-work-button" class="button" href="#projects">My Work</a>
            <a id="contact-button" class="button" href="#contact">Let&#39;s Talk</a>
        </div>
    </div>
    <div id="about">
        <h2><span><img class="prompt" src="prompt_bw.png"></span>About<span><img class="prompt"
                    src="prompt_bw.png"></span></h2>
        
        <div id="about-grid">
            <div id="about-container">
                <p>I am a web developer and computer science teacher with a keen interest in Edu Tech</p>
                <p>I am also a highly experienced leader with a background in education and systems development</p>

                <p>I have a BSc in Computer Science and an MSc in e-Business Strategy and Systems from the University of
                    Liverpool, as well as a distinction in Digital Media Design, MA, from Birkbeck University.</p>

                <p>I hold several years of experience in a variety of leadership roles as member of the senior leadership team
                    within schools, with a strong focus towards Computer Science teaching & pedagogy, curriculum development,
                    project management, systems design and IT systems.</p>

                <p>To get a more in depth review of my career path please visit my <a  href="https://www.linkedin.com/in/lloydstevens/"><img id="inline-linkedin" src="LI-Logo.png"></a> </p>
            </div>
            <div class="social-image-container">
                        <div id="linkedin-branding">
                            <a href="https://www.linkedin.com/in/lloydstevens/"><img class="linkedin-logo tablet-hide desktop-hide " src="LI-In-Bug.png"></a>
                            <a href="https://www.linkedin.com/in/lloydstevens/"><img class="linkedin-name mobile-hide" src="LI-Logo.png"></a>
                        </div>
                        <div id="github-branding">
                            <a href="https://github.com/llogostevo"><img class="github-logo tablet-hide desktop-hide" src="github-mark.png"></a>
                            <a href="https://github.com/llogostevo"><img class="github-name mobile-hide" src="GitHub_Logo.png"></a>
                        </div>
                        <div id="youtube-branding"> 
                            <a href="https://www.youtube.com/@VidTings"><img class="youtube-logo tablet-hide desktop-hide" src="yt_icon_rgb.png"></a>
                            <a href="https://www.youtube.com/@VidTings"><img class="youtube-name mobile-hide " src="yt_logo_rgb_light.png"></a>
                        </div>        
            </div>
        </div>

        <!-- CALL TO ACTION BUTTONS -->
        <a class="button talk-button" href="#">Let&#39;s Talk</a>
    </div>

    <div id="projects">
        <h2><span><img class="prompt" src="prompt_bw.png"></span>Projects<span><img class="prompt"
                    src="prompt_bw.png"></span></h2>
        <div class="project-cards-wrapper">         
            <!-- PROJECT CARDS - AUTO COMPLETED FROM JSON FILE-->

            {{#projects}}
            <div class="card">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <a class="button {{liveView}}" href="{{liveViewLink}}" target="_blank">Live View</a>
                <a class="{{github}}" href="{{githubLink}}" target="_blank"><img src="github-mark.png"></a>   
                <a class="{{youtube}}" href="{{youtubeLink}}" target="_blank"><img src="yt_logo_rgb_light.png"></a>   
            </div>
            {{/projects}}

        </div>
        <!-- CALL TO ACTION BUTTONS -->
        <a class="button talk-button" href="#">Let&#39;s Talk</a>
    </div>

    <div id="skills">
        <h2><span><img class="prompt" src="prompt_bw.png"></span>Skills and Tech<span
                class="mobile-hide">nologies</span><span><img class="prompt" src="prompt_bw.png"></span></h2>
    <div class="skills-card-wrapper">

        <!-- SKILLS CARDS - AUTO COMPLETED FROM JSON FILE -->
        {{#skills}}
        <div class="card">
            <h3>{{title}}</h3>
            <div class="card-content">    
            {{#topics}}
                <p class="left-align">{{name}}
                    {{#level}}
                    <img src="black-star.png" alt="star rating">
                    {{/level}}
                </p>
              {{/topics}}
            </div>

          </div>
        {{/skills}}
          
        </div>

        <!-- CALL TO ACTION BUTTONS -->
        <a class="button talk-button" href="#">Let&#39;s Talk</a>
    </div>

    {{! <div id="contact">
        <h2><span><img class="prompt" src="prompt_bw.png"></span>Contact<span><img class="prompt"
                    src="prompt_bw.png"></span></h2>
        <p>If you would like to get in touch please contact me via <a href="#">email</a> or <a href="">Linked In</a>.
        </p>

        <div id="image-link-wrapper">
                <div class="flex-container">
                    <a href="https://www.linkedin.com/in/lloydstevens/"><img class="contact-image-text" src="LI-Logo.png"></a>
                </div>
                <div class="flex-container">
                    <a href="contactme"><img class="contact-image" src="email.png"></a>
                </div>
                <div class="flex-container">
                    <a href="https://github.com/llogostevo"><img class="contact-image" src="github-mark.png"></a>
                </div>
                <div class="flex-container">
                    <a href="https://www.youtube.com/@VidTings"><img class="contact-image-text" src="yt_logo_rgb_light.png"></a>
                </div>
        </div>
    </div> }}

    <div id="footer">
        <div class="footer-container">
            <h2>Social</h2>
                <a href="https://www.linkedin.com/in/lloydstevens/">LinkedIn</a>
                <a href="https://github.com/llogostevo">GitHub</a>
                <a href="https://www.youtube.com/@VidTings">YouTube</a>
        </div>
        <div class="footer-container">
        <h2>Acknowledgements</h2>
            <a href="https://www.flaticon.com/free-icons/cmd" title="cmd icons">Cmd icons created by Freepik -
                Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by lakonicon - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a>
        </div>
    </div>


<script></script>
</body>

</html>