/* :root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-blue: #2067F5;
    --bs-primary: #2067F5;
} */

/* Base Styles */

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family:'Braah One', sans-serif; */
    font-family: 'Abril Fatface', cursive;
    text-decoration: underline;
    text-decoration-color: #FFE872;
    text-decoration-thickness: 5px;
}


p {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

/* navigation */
nav {
    /* background-color: #333;
    color: #fff; */
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

/* LOGOs and IMAGES */
.img-profile {
    width: 50%;
    max-width: 400px;
    height:auto;
    border-style: solid;
    color: black;
    padding: 5px;
    box-shadow: 5px 5px;
}
#logo {
    height:auto;
    width: 60px;
}

.prompt {
    height: 1rem;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:10px;
}

.linked-in-name {
    height: 1.5rem;
    width: auto;
}

.linked-in-logo {
    height: 1.5rem;
    width: auto;
    margin-right: 10px;
}

/* Button Styling */
.button {
    border-style: solid;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 100px;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 5px;
}

.button:hover {
    box-shadow: 2px 2px;
    transition: all 0.2s ease-in-out;

}

/* LEFT ALIGN */

.left-align {
    text-align: left;;
}

/* SECTION STYLING - NEED TO ALTER THESE TO CONTAIN GRID OR FLEXBOX */

header {
    background-color: #F9EFE7;
    margin: 0px;
    padding: 50px;
    padding-bottom: 0px;
    text-align: center;
}
#hero {
    background-color: #F9EFE7;
    margin: 0px;
    padding: 50px;
    text-align: center;
    
}

#about {
    background-color: white;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

#projects {
    background-color: #F9EFE7;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

#contact {
    background-color: #F9EFE7;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

#footer {
    background-color: lightgrey;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

#footer ul {
    color: white;
    list-style: none;
}

#footer a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #F9EFE7;
}

/* CARD STYLING */
/* NEED TO PUT THIS INTO EITHER FLEXBOX OR GRID */
.project-cards-wrapper {
    text-align: center;
    /* padding: 5px; */
}

.card h1 {
    font-size: 0.8rem;
}

/* NEED TO ADJUST DISPLAY OF CARDS SO THEY ARE RESPONSIVE */
.card  {
    display: flexbox;
    border-style: solid;
    background-color: white;
    color: black;
    width: 150px;
    height: auto;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 5px 5px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
}

.card .button {
    margin: 10px 0px;
}
.card img {
    display: inline-block;
    filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 0.2));
    margin-top: 20px;
}

.card img {
    transition: all 0.2s ease-in-out;
  }

.card img:hover {
    filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.2));
}

.youtube-on img {
    height: 20px;
    width: auto;
}
.github-on img {
    height: 30px;
    width: auto;
}
.card ul {
    list-style: none;
}
.card h1 {
    text-align: center;
}

.card:hover {
    box-shadow: 2px 2px;
}

.skills-card-wrapper .card img{
    height: 5px;
    width: auto;
    margin: 0;
    padding:0;
}

.skills-card-wrapper .card-body{
    padding: 15px;
}
/* CARDS Layout */

.live-view-off, .github-off, .youtube-off {
    display: none;
}


/* MOBILE VIEW */
.mobile-hide {
    display: none;
}